# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories
/build/
/dist/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor directories
.vscode/
.idea/
